<!--<c-footer>-->
  <div>
    <!-- <a href="https://coreui.io/pro/angular/" target="_blank">data is</a> -->
    <span> &copy; 2021 Registered </span>
  </div>
  <div class="ms-auto">
    Powered by
    <a href="https://www.google.com/search?q=alka+event+managment+company&sca_esv=592445786&bih=559&biw=1280&rlz=1C1UEAD_enIN1066IN1066&hl=en&sxsrf=AM9HkKl-JVkTB8vMdX_GeUTYpJ5B6FnaCQ%3A1703061523509&ei=E6iCZd-6HsibseMP5f2W2Ak&ved=0ahUKEwifkI7Jzp2DAxXITWwGHeW-BZsQ4dUDCBA&uact=5&oq=alka+event+managment+company&gs_lp=Egxnd3Mtd2l6LXNlcnAiHGFsa2EgZXZlbnQgbWFuYWdtZW50IGNvbXBhbnkyChAjGLACGLADGCcyDhAAGIAEGIoFGIYDGLADMg4QABiABBiKBRiGAxiwAzIOEAAYgAQYigUYhgMYsANIgQhQAFgAcAF4AJABAJgBAKABAKoBALgBA8gBAOIDBBgBIEGIBgGQBgQ&sclient=gws-wiz-serp" target="_blank">
      <span> ALKA Event Managment</span>
    </a>
  </div>
<!--</c-footer>-->
